{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Welcome to the Asset Management System</h2>
        <p class="subtitle is-4">Please enter your asset information below</p>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <label class="label">Stock info:</label>
                <div class="control">
                    <input class="input" type="text" id="stock_ticker" placeholder="Please enter your stock ticker symbol"></br>
                    <button class="button is-primary mt-1" id="stock_verify"type="button">Verify</button>
                </div> 
                <div id="stock_info" class="is-flex is-flex-direction-column is-align-items-center"></div>
            </div>
            <div class="column is-half">
                <label class="label">Crypto info:</label>
                <div class="control">
                    <input class="input" type="text" id="crypto_ticker" placeholder="Please enter your crypto information">
                    <button class="button is-primary mt-1" id="crypto_verify" type="button">Verify</button>
                </div>
                <div id="crypto_info" class="is-flex is-flex-direction-column is-align-items-center"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <label class="label">House info:</label>
                <div class="control">
                    <input class="input" type="text" name="house" placeholder="Please enter your house information">
                </div>
            </div>
            <div class="column is-half">
                <label class="label">Vehicle info:</label>
                <div class="control">
                    <input class="input" type="text" name="vehicle" placeholder="Please enter your vehicle information">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title is-2">Your Asset Information</h2>
        <p class="subtitle is-4">Your asset information will be displayed here</p>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Stock</p>
                        <p class="subtitle">
                            {% if stocks %}
                            <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Ticker</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stock in stocks %}
                                        <tr>
                                            <td>{{ stock.ticker_symbol }}</td>
                                            <td>{{ stock.purchase_price|floatformat:2 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                No stock information
                            {% endif %}
                        </p>    
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Crypto</p>
                        <p class="subtitle">
                            {% if stocks %}
                            <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Ticker</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for crypto in cryptos %}
                                        <tr>
                                            <td>{{ crypto.ticker_symbol }}</td>
                                            <td>{{ crypto.purchase_price|floatformat:2 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                No crypto information
                            {% endif %}
                        </p>    
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">House</p>
                        <p class="subtitle">
                            {% if house %}
                                {{ house }}
                            {% else %}
                                No house information
                            {% endif %}
                        </p>    
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Vehicle</p>
                        <p class="subtitle">
                            {% if vehicle %}
                                {{ vehicle }}
                            {% else %}
                                No vehicle information
                            {% endif %}
                        </p>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}