{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Welcome to the Asset Management System</h2>
        <p class="subtitle is-4">Please log in</p>
        <form action="/login" method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="password">Password:</label>
                <div class="control">
                    <input required autocomplete="on" class="input {% if msg %}is-danger{% endif %}" type="password" id="password" name="password" placeholder="Please enter a password">
                </div>
                <p class="help is-danger">{{msg}}</p>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}