{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Stock Management</h2>
        <p class="subtitle is-4">
            {% if id > 0 %}
            Edit your stock
            {% else %}
            Add your new stock
            {% endif %}
        </p>
        <form action="stock" method="post">
            {% csrf_token %}
            <input name="id" type="hidden" value="{% if data.id > 0 %}{{ data.id }}{% else %}0{% endif %}">
            <div class="field">
                <label class="label">Share</label>
                <div class="control">
                    <input class="input" name="share" placeholder="Share of your stock" type="number"
                            value="{{data.share}}">
                </div>
            </div>
            <div class="field">
                <label class="label">Ticker Symbol</label>
                <div class="control">
                    {% if ticker %}
                    <input class="input" name="ticker_symbol" placeholder="Symbol of your stock" type="text"
                            value="{{ticker}}" readonly>
                    {% else %}
                    <input class="input" name="ticker_symbol" placeholder="Symbol of your stock" type="text"
                            value="{{data.ticker_symbol}}" readonly>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label">Market</label>
                <div class="control">
                    {% if market %}
                    <input class="input" name="market" placeholder="Market of your stock" type="text"
                            value="{{market}}" readonly>
                    {% else %}
                    <input class="input" name="market" placeholder="Market of your stock" type="text"
                            value="{{data.market}}" readonly>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label">Currency</label>
                <div class="control">
                    {% if currency %}
                    <input class="input" name="currency" placeholder="Currency of your stock" type="text"
                            value="{{currency}}" readonly>
                    {% else %}
                    <input class="input" name="currency" placeholder="Currency of your stock" type="text"
                            value="{{data.currency}}" readonly>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label">Purchase Price</label>
                <div class="control">
                    <input class="input" name="purchase_price" placeholder="Purchase Price" type="text"
                            value="{{data.purchase_price}}">
                </div>
            </div>
            <div class="field">
                <label class="label">Purchase Date</label>
                <div class="control">
                    <input class="input" name="purchase_date" placeholder="Purchase Date" type="date"
                            value="{{data.purchase_date|date:'Y-m-d'}}">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-link" type="submit" value="Save"/>
                </div>
                <div class="control">
                    <a class="button is-link is-light" href="?vt=list">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}