{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Stock Management</h2>
        <p class="subtitle is-4">
            {{ data.ticker_symbol }}
        </p>
    </div>
    <div class="stock-info">
        <div class="container">
            <h3 class="title is-3">Stock Information</h3>
            <table class="table is-striped is-hoverable is-fullwidth">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Share</td>
                            <td>{{ data.share }}</td>
                        </tr>
                        <tr>
                            <td>Ticker Symbol</td>
                            <td>{{ data.ticker_symbol }}</td>
                        </tr>
                        <tr>
                            <td>Market</td>
                            <td>{{ data.market }}</td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td>{{ data.currency }}</td>
                        </tr>
                        <tr>
                            <td>Purchase Price</td>
                            <td>{{ data.purchase_price|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td>Purchase Date</td>
                            <td>{{ data.purchase_date|date:'Y-m-d' }}</td>
                        </tr>
                        <tr>
                            <td>Total Return</td>
                            {% if total_return > 0 %}
                            <td class="has-text-success"><span><i class="fa-solid fa-arrow-up"></i></span>{{ total_return|floatformat:2 }}</td>
                            {% else %}
                            <td class="has-text-danger"><span><i class="fa-solid fa-arrow-down"></i></span>{{ total_return|floatformat:2 }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
        <div class="container">
            <a href="{% url 'stock' %}?vt=buy_or_sell&id={{ data.id }}" class="button is-primary">Buy or Sell</a>
        </div>
        <div class="container">
            <h3 class="title is-3">Stock Transactions</h3>
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th></th>
                        <th>Transaction Date</th>
                        <th>Transaction Type</th>
                        <th>Share</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ transaction.purchase_date|date:'Y-m-d' }}</td>
                        {% if transaction.share > 0 %}
                        <td class="has-text-success">Buy</td>
                        {% else %}
                        <td class="has-text-danger">Sell</td>
                        {% endif %}
                        <td>{{ transaction.share }}</td>
                        <td>{{ transaction.purchase_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
        <div class="stock-info-graph">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <div class="column is-half">
                        <figure class="image">
                            <img src={{plot_url}} alt="Graph Image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
</section>
{% endblock %}