<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Asset Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/8ae1e5da46.js"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<main>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Asset Management
                </h1>
                <h2 class="subtitle">
                    A simple asset management system
                </h2>
                <nav aria-label="main navigation" class="navbar" role="navigation">
                    <div class="navbar-menu" id="navbarBasicExample">
                        <div class="navbar-start">
                            <a class="navbar-item" href="/">
                                Home
                            </a>
                            <a class="navbar-item" href="/user">
                                User
                            </a>
                            <a class="navbar-item" href="/asset">
                                Asset
                            </a>
                            <a class="navbar-item" href="/vehicle">
                                Vehicle
                            </a>
                            <a class="navbar-item" href="/house">
                                House
                            </a>
                            <a class="navbar-item" href="/crypto">
                                Crypto
                            </a>
                            <a class="navbar-item is-active" href="/stock">
                                Stock
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="title is-2">Stock Management</h2>
            <p class="subtitle is-4">
                {% if id > 0 %}
                Edit your stock
                {% else %}
                Add your new stock
                {% endif %}
            </p>
            <form action="stock" method="post">
                <input name="id" type="hidden" value="{% if data.id > 0 %}{{ data.id }}{% else %}0{% endif %}">
                <div class="field">
                    <label class="label">Share</label>
                    <div class="control">
                        <input class="input" name="share" placeholder="Share of your stock" type="number"
                               value="{{data.share}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Symbol</label>
                    <div class="control">
                        <input class="input" name="symbol" placeholder="Symbol of your stock" type="text"
                               value="{{data.symbol}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Dividend</label>
                    <div class="control">
                        <input class="input" name="dividend" placeholder="Dividend of your stock" type="number"
                               value="{{data.dividend}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Market</label>
                    <div class="control">
                        <input class="input" name="market" placeholder="Market of your stock" type="text"
                               value="{{data.market}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Currency</label>
                    <div class="control">
                        <input class="input" name="currency" placeholder="Currency of your stock" type="text"
                               value="{{data.currency}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Purchase Price</label>
                    <div class="control">
                        <input class="input" name="purchase_price" placeholder="Purchase Price" type="text"
                               value="{{data.purchase_price}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Purchase Date</label>
                    <div class="control">
                        <input class="input" name="purchase_date" placeholder="Purchase Date" type="date"
                               value="{{data.purchase_date|date:'Y-m-d'}}">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <input class="button is-link" type="submit" value="Save"/>
                    </div>
                    <div class="control">
                        <a class="button is-link is-light" href="?vt=list">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>