{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Stock Management</h2>
        <p class="subtitle is-4">
            {{ data.ticker_symbol }}
        </p>
        <div class="container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Share</td>
                            <td>{{ data.share }}</td>
                        </tr>
                        <tr>
                            <td>Ticker Symbol</td>
                            <td>{{ data.ticker_symbol }}</td>
                        </tr>
                        <tr>
                            <td>Market</td>
                            <td>{{ data.market }}</td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td>{{ data.currency }}</td>
                        </tr>
                        <tr>
                            <td>Purchase Price</td>
                            <td>{{ data.purchase_price }}</td>
                        </tr>
                        <tr>
                            <td>Purchase Date</td>
                            <td>{{ data.purchase_date|date:'Y-m-d' }}</td>
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
        <div class="stock-info-graph">
            <img src="{{ plot_url }}" alt="Stock Price Plot">
        </div>
    </div>
</section>
        </p>
    </div>
    
</section>
{% endblock %}