{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Stock Management</h2>
        <p class="subtitle is-4">List of stocks that you own</p>
        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <td>Share</td>
                    <td>Ticker Symbol</td>
                    <td>Market</td>
                    <td>Currency</td>
                    <td>Purchase Price</td>
                    <td>Purchase Date</td>
                    <td>
                        <a class="button is-primary is-small" href="?vt=add">Add</a>
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for x in data %}
                <tr {% if x.checksumOk == False %}style="background:#ffe08a4d"{% endif %}>
                    <td>{{ x.share }}</td>
                    <td>{{ x.ticker_symbol }}</td>
                    <td>{{ x.market }}</td>
                    <td>{{ x.currency }}</td>
                    <td>{{ x.purchase_price|floatformat:2 }}</td>
                    <td>{{ x.purchase_date|date:'Y-m-d' }}</td>
                    <td>
                        <form action="stock" method="post">
                            {% csrf_token %}
                            <a class="button is-info is-small" href="?vt=buy_or_sell&id={{ x.id }}">Buy/Sell</a>
                            <a class="button is-link is-small" href="?vt=detail&id={{ x.id }}">Detail</a>
                            <input type="hidden" name="_method" value="delete" />
                            <input name="id" type="hidden" value="{{ x.id }}"/>
                            <input type="submit" value="Delete" class="button is-danger is-small" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            Total: {{ total }}, Page Number: {{ page }}, Page Size: {{ size }}
        </div>
        <div>
            {% if hasPrev %}
            <a href="?size=20&page={{ pagePrev }}">Prev Page</a>
            {% endif %}
            {% if hasNext %}
            <a href="?size=20&page={{ pageNext }}">Next Page</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}