{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Stock Management</h2>
        <p class="subtitle is-4">
            Add your new stock
        </p>
        <label class="label">Stock Ticker:</label>
        <div class="control">
            <input class="input" type="text" id="stock_ticker" placeholder="Please enter your stock ticker symbol"></br>
            <button class="button is-primary mt-1" id="stock_verify"type="button">Verify</button>
        </div>
        <div id="stock_info" class="is-flex is-flex-direction-column is-align-items-center"></div>
    </div>
</section>
{% endblock %}