{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Crypto Management</h2>
        <p class="subtitle is-4">
            Add your new crypto
        </p>
        <form action="crypto" method="post">
            {% csrf_token %}
            <input name="id" type="hidden" value="{% if data.id > 0 %}{{ data.id }}{% else %}0{% endif %}">
            <div class="field">
                <label class="label">Share</label>
                <div class="control">
                    <input class="input" name="share" placeholder="Share of your crypto" type="number" step="any"
                            value="{{data.share}}" step="any">
                    {% if errors.share %}<p class="help is-danger">{{ errors.share }}</p>{% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label">Ticker Symbol</label>
                <div class="control">
                    {% if ticker %}
                    <input class="input" name="ticker_symbol" placeholder="Symbol of your crypto" type="text"
                            value="{{ticker}}" readonly>
                    {% else %}
                    <input class="input" name="ticker_symbol" placeholder="Symbol of your crypto" type="text"
                            value="{{data.ticker_symbol}}" readonly>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    {% if name %}
                    <input class="input" name="name" placeholder="Name of your crypto" type="text"
                            value="{{name}}" readonly>
                    {% else %}
                    <input class="input" name="name" placeholder="Name of your crypto" type="text"
                            value="{{data.name}}" readonly>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label">Currency</label>
                <div class="control">
                    {% if currency %}
                    <input class="input" name="currency" placeholder="Currency of your crypto" type="text"
                            value="{{currency}}" readonly>
                    {% else %}
                    <input class="input" name="currency" placeholder="Currency of your crypto" type="text"
                            value="{{data.currency}}" readonly>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label">Purchase Price</label>
                <div class="control">
                    <input class="input" name="purchase_price" placeholder="Purchase Price" type="number" step="0.01"
                            value="{{data.purchase_price}}">
                    {% if errors.purchase_price %}<p class="help is-danger">{{ errors.purchase_price }}</p>{% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label">Purchase Date</label>
                <div class="control">
                    <input class="input" name="purchase_date" placeholder="Purchase Date" type="date"
                            value="{{data.purchase_date|date:'Y-m-d'}}">
                    {% if errors.purchase_date %}<p class="help is-danger">{{ errors.purchase_date }}</p>{% endif %}
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-link" type="submit" value="Save"/>
                </div>
                <div class="control">
                    <a class="button is-link is-light" href="?vt=list">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}