{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="title is-2">Vehicle Management</h2>
            <p class="subtitle is-4">
                {{ data }}
            </p>
            <div class="container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Brand</td>
                            <td>{{ data.brand }}</td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td>{{ data.model }}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>{{ data.year }}</td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td>{{ data.color }}</td>
                        </tr>
                        <tr>
                            <td>Vehicle Identification Number</td>
                            <td>{{ data.VIN }}</td>
                        </tr>
                        <tr>
                            <td>Purchase Price</td>
                            <td>${{ data.purchase_price }}</td>
                        </tr>
                        <tr>
                            <td>Purchase Date</td>
                            <td>{{ data.purchase_date|date:'Y-m-d' }}</td>
                        </tr>
                         <tr>
                            <td>Current Price (estimated)</td>
                            <td>${{ current_price }}</td>
                        </tr>
                        <tr>
                            <td>Total Return</td>
                            {% if total_return > 0 %}
                            <td class="has-text-success"><span><i class="fa-solid fa-arrow-up"></i></span>{{ total_return | floatformat }}</td>
                            {% else %}
                            <td class="has-text-danger"><span><i class="fa-solid fa-arrow-down"></i></span>{{ total_return | floatformat }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
        <div class="stock-info-graph">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <div class="column is-half">
                        <figure class="image">
                            <img src={{plot_url}} alt="Graph Image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}