{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="title is-2">Vehicle Management</h2>
            <p class="subtitle is-4">
                {% if id > 0 %}
                Edit your vehicle
                {% else %}
                Add your new vehicle
                {% endif %}
            </p>
            <form action="vehicle" method="post">
                <input name="id" type="hidden" value="{% if data.id > 0 %}{{ data.id }}{% else %}0{% endif %}">
                <div class="field">
                    <label class="label">Brand</label>
                    <div class="control">
                        <input class="input" name="brand" placeholder="Brand of your vehicle" type="text"
                               value="{{data.brand}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Model</label>
                    <div class="control">
                        <input class="input" name="model" placeholder="Model of your vehicle" type="text"
                               value="{{data.model}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Year</label>
                    <div class="control">
                        <input class="input" name="year" placeholder="Year that your vehicle was made" type="text"
                               value="{{data.year}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Color</label>
                    <div class="control">
                        <input class="input" name="color" placeholder="Color of your vehicle" type="text"
                               value="{{data.color}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">VIN</label>
                    <div class="control">
                        <input class="input" name="VIN" placeholder="VIN of your vehicle" type="text"
                               value="{{data.VIN}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Purchase Price</label>
                    <div class="control">
                        <input class="input" name="purchase_price" placeholder="Purchase Price" type="text"
                               value="{{data.purchase_price}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Purchase Date</label>
                    <div class="control">
                        <input class="input" name="purchase_date" placeholder="Purchase Date" type="date"
                               value="{{data.purchase_date|date:'Y-m-d'}}">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <input class="button is-link" type="submit" value="Save"/>
                    </div>
                    <div class="control">
                        <a class="button is-link is-light" href="?vt=list">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}