{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="title is-2">Vehicle Management</h2>
            <p class="subtitle is-4">List of vehicles that you own</p>
            <div class="table-container">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <td>Brand</td>
                        <td>Model</td>
                        <td>Year</td>
                        <td>Color</td>
                        <td>VIN</td>
                        <td>Purchase Price</td>
                        <td>Purchase Date</td>
                        <td>
                            <a class="button is-primary is-small" href="?vt=detail">Add</a>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in data %}
                    <tr {% if x.checksumOk == False %}style="background:#ffe08a4d"{% endif %}>
                        <td>{{ x.brand }}</td>
                        <td>{{ x.model }}</td>
                        <td>{{ x.year }}</td>
                        <td>{{ x.color }}</td>
                        <td>{{ x.VIN }}</td>
                        <td>{{ x.purchase_price }}</td>
                        <td>{{ x.purchase_date|date:'Y-m-d' }}</td>
                        <td>
                            <form action="vehicle" method="post">
                                {% csrf_token %}
                                <a class="button is-info is-small" href="?vt=edit&id={{ x.id }}">Edit</a>
                                <a class="button is-link is-small" href="?vt=detail&id={{ x.id }}">Detail</a>
                                <input type="hidden" name="_method" value="delete" />
                                <input name="id" type="hidden" value="{{ x.id }}"/>
                                <input type="submit" value="Delete" class="button is-danger is-small" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                Total: {{ total }}, Page Number: {{ page }}, Page Size: {{ size }}
            </div>
            <div>
                {% if hasPrev %}
                <a href="?size=20&page={{ pagePrev }}">Prev Page</a>
                {% endif %}
                {% if hasNext %}
                <a href="?size=20&page={{ pageNext }}">Next Page</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}