{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">House Management</h2>
        <p class="subtitle is-4">
            {{ data }}
        </p>
        <div class="container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Lot Width</td>
                            <td>{{ data.lot_width }}</td>
                        </tr>
                        <tr>
                            <td>Lot Depth</td>
                            <td>{{ data.lot_depth }}</td>
                        </tr>
                        <tr>
                            <td>Bedroom</td>
                            <td>{{ data.bedroom }}</td>
                        </tr>
                        <tr>
                            <td>Bathrooom</td>
                            <td>{{ data.bathroom }}</td>
                        </tr>
                        <tr>
                            <td>Parking</td>
                            <td>{{ data.parking }}</td>
                        </tr>
                        <tr>
                            <td>Purchase Price</td>
                            <td>{{ data.purchase_price }}</td>
                        </tr>
                        <tr>
                            <td>Purchase Date</td>
                            <td>{{ data.purchase_date|date:'Y-m-d' }}</td>
                        </tr>
                        <tr>
                            <td>Current Price (market)</td>
                            <td>${{ current_price }}</td>
                        </tr>
                        <tr>
                            <td>Total Return</td>
                            {% if total_return > 0 %}
                            <td class="has-text-success"><span><i class="fa-solid fa-arrow-up"></i></span>${{ total_return | floatformat }}</td>
                            {% else %}
                            <td class="has-text-danger"><span><i class="fa-solid fa-arrow-down"></i></span>${{ total_return | floatformat }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Annual Return(avg.)</td>
                            <td>{{ annual_return }}%</td>
                        </tr>
                        <tr>
                            <td>Y.T.D.</td>
                            <td>${{ ytd }}</td>
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
        <div class="stock-info-graph">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <div class="column is-half">
                        <figure class="image">
                            <img src={{plot_url}} alt="Graph Image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
</section>
{% endblock %}