{% extends "base.html" %} {% block content %}
<section class="section">
  <div class="container">
    <h2 class="title is-2">House Management</h2>
    <p class="subtitle is-4">
      {% if id > 0 %} Edit your house {% else %} Add your new house {% endif %}
    </p>
    <form action="house" method="post">
      {% csrf_token %}
      <input
        name="id"
        type="hidden"
        value="{% if data.id > 0 %}{{ data.id }}{% else %}0{% endif %}"
      />
      <div class="field">
        <label class="label">Street Number</label>
        <div class="control">
          <input
            class="input"
            name="street_number"
            placeholder="Street number of your house"
            type="text"
            value="{{data.street_number}}"
          />
          {% if errors.street_number %}<p class="help is-danger">{{ errors.street_number }}</p>{% endif %}
        </div>
      </div>
      <div class="field">
        <label class="label">Address</label>
        <div class="control">
          <input
            class="input"
            name="address"
            placeholder="Your house address"
            type="text"
            value="{{data.address}}"
          />
          {% if errors.address %}<p class="help is-danger">{{ errors.address }}</p>{% endif %}
        </div>
      </div>
      <div class="field">
        <label class="label">Postal Code</label>
        <div class="control">
          <input
            class="input"
            name="postal_code"
            placeholder="Postal code"
            type="text"
            value="{{data.postal_code}}"
          />
          {% if errors.postal_code %}<p class="help is-danger">{{ errors.postal_code }}</p>{% endif %}
        </div>
      </div>
      <div class="field">
        <label class="label">Location</label>
        <div class="control">
          <select class="input" name="location">
            {% for location in locations %}
            <option value="{{location.0}}" {% if data.location == location.0 %}selected="selected"{% endif %}>{{ location.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="field">
        <label class="label">Property Type</label>
        <div class="control">
          <select class="input" name="property_type">
            {% for proporty_type in proporty_types %}
            <option value="{{proporty_type.0}}" {% if data.property_type == proporty_type.0 %}selected="selected"{% endif %}>{{ proporty_type.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="field">
        <label class="label">Lot Width</label>
        <div class="control">
          <input
            class="input"
            name="lot_width"
            placeholder="Lot width of your house"
            type="number"
            value="{{data.lot_width}}"
          />
          {% if errors.lot_width %}<p class="help is-danger">{{ errors.lot_width }}</p>{% endif %}
        </div>
      </div>
      <div class="field">
        <label class="label">Lot Depth</label>
        <div class="control">
          <input
            class="input"
            name="lot_depth"
            placeholder="Lot depth of your house"
            type="number"
            value="{{data.lot_depth}}"
          />
          {% if errors.lot_depth %}<p class="help is-danger">{{ errors.lot_depth }}</p>{% endif %}
        </div>
      </div>
      <div class="field">
        <label class="label">Bedroom</label>
        <div class="control">
          <input
            class="input"
            name="bedroom"
            placeholder="Number of bedrooms in your house"
            type="number"
            value="{{data.bedroom}}"
          />
          {% if errors.bedroom %}<p class="help is-danger">{{ errors.bedroom }}</p>{% endif %}
        </div>
      </div>
      <div class="field">
        <label class="label">Bathroom</label>
        <div class="control">
          <input
            class="input"
            name="bathroom"
            placeholder="Number of bathrooms in your house"
            type="number"
            value="{{data.bathroom}}"
          />
          {% if errors.bathroom %}<p class="help is-danger">{{ errors.bathroom }}</p>{% endif %}
        </div>
      </div>
      <div class="field">
        <label class="label">Parking</label>
        <div class="control">
          <input
            class="input"
            name="parking"
            placeholder="Parking of your house"
            type="number"
            value="{{data.parking}}"
          />
          {% if errors.parking %}<p class="help is-danger">{{ errors.parking }}</p>{% endif %}
        </div>
      </div>
      <div class="field">
        <label class="label">Purchase Price</label>
        <div class="control">
          <input
            class="input"
            name="purchase_price"
            placeholder="Purchase Price"
            type="text"
            value="{{data.purchase_price}}"
          />
          {% if errors.purchase_price %}<p class="help is-danger">{{ errors.purchase_price }}</p>{% endif %}
        </div>
      </div>
      <div class="field">
        <label class="label">Purchase Date</label>
        <div class="control">
          <input
            class="input"
            name="purchase_date"
            placeholder="Purchase Date"
            type="date"
            value="{{data.purchase_date|date:'Y-m-d'}}"
          />
          {% if errors.purchase_date %}<p class="help is-danger">{{ errors.purchase_date }}</p>{% endif %}
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <input class="button is-link" type="submit" value="Save" />
        </div>
        <div class="control">
          <a class="button is-link is-light" href="?vt=list">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
